<mat-drawer-container class="dashboard-container" autosize>


    <div class="dashboard-sidenav-contenido">
        <mat-toolbar style="background-color: rgb(25, 37, 162);">
            <button type="button" mat-icon-button style="color:rgb(255, 255, 255);" (click)="drawer.toggle()"
                aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <img src="../../../img/logo.png" alt="Logo TecnoAula" style="float: left; margin-right: 10px; width:20px; height:20px;">-->
            <span style="color:white;">TecnoAula</span>
            <span class="example-spacer" style="color:white;"></span>

        </mat-toolbar>
    </div>

    <mat-drawer #drawer class="dashboard-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
    </mat-drawer>
    <div class="p-5">
        <app-students></app-students>
    </div>
</mat-drawer-container>